<ion-header>
  <ion-toolbar style="--color: darkblue;">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/init-session']"> 
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        {{nickName}}
      </ion-button>
    </ion-buttons>
    <ion-title slot="end">Comics y Mangas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--padding-top:10px;--padding-start:10px;--padding-end:10px;--background: rgba(0, 51, 153, 1);">
  <ion-toolbar style="--background:transparent; --color: darkblue;">
    <ion-buttons slot="start">
      <ion-button style="--background:white" [routerLink]="['/']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="btnSuscribir(1)" style="--background:white" *ngIf="suscrito==0">
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        Suscribir
      </ion-button>
      <ion-button (click)="btnSuscribir(0)" style="--background:white" *ngIf="suscrito==1">
        <ion-icon slot="start" name="notifications-off-outline"></ion-icon>
        Abandonar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div id="container">
    <ion-img [src]="serie.imgportada" style="width: 100%; position: absolute;top: 0px;left: 0px;"></ion-img>

    <ion-item style="width: 100%;">
      <ion-label>
        <ion-button (click)="verEpisodio()">
          <ion-icon slot="start" name="book-outline"></ion-icon>
          Leer
        </ion-button>
      </ion-label>
      <ion-select placeholder="Seleccione" [formControl]="selectEpisode">
        <ion-select-option *ngFor="let episode of episodios" [value]="episode.id_episodio">Episodio #{{episode.number_episodio}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-card style="width: 100%;">
      <ion-card-header>
        <ion-card-title>{{serie.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{serie.descripcion}}
      </ion-card-content>
    </ion-card>
    
  </div>
  <section style="margin-top: 15px;">
    <ion-item>
      <ion-label position="floating" color="primary">Escribir un comentario</ion-label>
      <ion-textarea [formControl]="inputComentario"></ion-textarea>
    </ion-item>
    <ion-button (click)="uploadComentario()" size="small" expand="full" [disabled]="inputComentario.invalid">{{name_btn_comentar}}</ion-button>
  </section>
  <section>
    <ion-card style="width: 90%;" *ngFor="let comentario of comentarios">
      <ion-card-header>
        <ion-card-title>@{{comentario.nickname}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{comentario.comentario}}
      </ion-card-content>
      <ion-card-content style="position: absolute; top: 0px; right: 0px;" *ngIf="comentario.id_user == id_user">
        <ion-button (click)="editComentario(comentario)" size="small" color="success">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteComentario(comentario)" size="small" color="danger">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </section>

</ion-content>
