<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/init-session']"> 
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        {{nickName}}
      </ion-button>
    </ion-buttons>
    <ion-title slot="end">Comics y Mangas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--padding-top:10px;--padding-start:10px;--padding-end:10px;">
  <div id="container">
  <ion-img src="/assets/borrar-1.png" style="position: absolute;top: 0px;left: 0px;"></ion-img>
  <ion-toolbar style="--background:transparent;">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item>
    <ion-label>
    <ion-button>
      <ion-icon slot="start" name="play-circle-outline"></ion-icon>
      El chavo 
    </ion-button>
    </ion-label>
    <ion-select placeholder="Seleccione" >
      <ion-select-option *ngFor="let episode of [{value:0,label:'Ep. 01'}]" [value]="episode.value">{{episode.label}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item style="margin-top: 10px;">
    <ion-text color="primary" style="text-align: justify; padding:10px;">
      Disfruta del mejor lector de historietas, comics y mangas, puedes llevar un seguimiento de tus lecturas y mas; Registrate o Ingresa...
    </ion-text>
  </ion-item>
</div>
</ion-content>
