<ion-header>
  <ion-toolbar style="--color: darkblue;">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/init-session']">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        {{nickName}}
      </ion-button>
    </ion-buttons>
    <ion-title slot="end">Comics y Mangas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--padding-start:10px;--padding-bottom:20px;--background: rgba(0, 51, 153, 1);">

  <ion-text color="light" *ngIf="nickName!=='Invitado'">
    <h2>Mis series</h2>
  </ion-text>
  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" *ngIf="nickName!=='Invitado'">
    <ion-slide *ngFor="let mySerie of mySeries" style="margin-left: 5px; width: 150px; height: auto; cursor: pointer;">
      <ion-col style="background: white; padding: 0px; height: 100%;">
        <section (click)="verSerie(mySerie.id)">
          <ion-img *ngIf="mySerie.id!==0" style="pointer-events:none" [src]="mySerie.url"></ion-img>
          <ion-label color="primary" [style]="mySerie.id===0?'position: absolute; top: 50%; right: 20%; height:100%;':''">{{ mySerie.title }}</ion-label>
        </section>
        <section *ngIf="mySerie.id!==0">
          <ion-button (click)="editSerie(mySerie.id)" size="small" color="success">
            <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteSerie(mySerie.id)" size="small" color="danger">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </section>
      </ion-col>
    </ion-slide>
  </ion-slides>

  <ion-text color="light" *ngIf="nickName!=='Invitado'">
    <h2>Series suscritas</h2>
  </ion-text>
  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" *ngIf="nickName!=='Invitado'">
    <ion-slide *ngFor="let serieFollow of seriesFollow" style="margin-left: 5px; width: 150px; height: auto; cursor: pointer;">
      <ion-col (click)="verSerie(serieFollow.id)" style="background: white; padding: 0px; height: 100%;">
        <ion-img style="pointer-events:none" [src]="serieFollow.url"></ion-img>
        <ion-label color="primary">{{ serieFollow.title }}</ion-label>
      </ion-col>
    </ion-slide>
  </ion-slides>

  <section *ngFor="let user of users">
    <ion-text color="light">
      <h2>@{{ user.nickName }}</h2>
    </ion-text>
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let serie of user.series" style="width: 150px; height: auto; margin-left: 5px; cursor: pointer;">
        <ion-col (click)="verSerie(serie.id)" style="background: white; padding: 0px; height: 100%;">
          <ion-img style="pointer-events:none" [src]="serie.url"></ion-img>
          <ion-label color="primary">{{ serie.title }}</ion-label>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </section>

</ion-content>
